@using Radzen
@using ProLab.Shared.Couriers.Response
@using ProLab.Shared.Couriers.Request
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components.Web


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public GetCourierListResponse.ItemData Courier { get; set; } = new();

    [Parameter]
    public EventCallback<object> OnSave { get; set; }

    [Inject]
    public DialogService DialogService { get; set; }

    private void Save()
    {
        object result;

        if (Courier.Id == 0)
        {
            result = new CreateCourierRequest
                {
                    FirstName = Courier.FirstName,
                    LastName = Courier.LastName
                };
        }
        else
        {
            result = new UpdateCourierRequest
                {
                    FirstName = Courier.FirstName,
                    LastName = Courier.LastName
                };
        }

        DialogService.Close(result);
    }

    private void Cancel()
    {
        DialogService.Close(false);
    }
}

<RadzenCard Style="width: 400px;">
    <h3>@Title</h3>
    <RadzenTextBox @bind-Value="Courier.FirstName" Placeholder="Name" Style="width: 100%;" />
    <RadzenTextBox @bind-Value="Courier.LastName" Placeholder="Last name" Style="width: 100%;" />
    <RadzenButton Text="Save" Click="Save" Style="margin-right: 10px;" />
    <RadzenButton Text="Cancel" Click="Cancel" ButtonStyle="ButtonStyle.Light" />
</RadzenCard>
