@page "/weather"
@using ProLab.Shared.Couriers.Response
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (response == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in response.Items)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.FirstName</td>
                    <td>@forecast.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GetCourierListResponse? response;

    protected override async Task OnInitializedAsync()
    {
        response = await Http.GetFromJsonAsync<GetCourierListResponse>("api/couriers");
    }
}
